/* BASE */
* {
margin: 0;
}
img {
width: 100%;
height: auto;
}
ul {
  list-style-image: -webkit-gradient(fa-solid fa-book-open);
}
h1 {
display: flex;
margin-top: auto;
padding: 0px;
}
h2 {
  font-family: serif;
  text-align: center;
  margin-bottom: 26px;
  color: #3e2baa;
}
a {
  text-decoration: none;
}
/*HEADER */
.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px;
}
.logo {
  width: 200px;
}
nav {
 display: auto;
} 
/*MENU */
.navbar {
  display: flex;
  flex-direction: column;
}
.fa-book-open {
  display: none;
}
.container {
  width: 100%;
}
/*HERO */
.hero figure {
  width: 100%;
}
.services, .Por-que-mapa-mundi, 
.Nosotros p, .contact {
  padding: 26px 
}
.services-list,
.Lo-que-nos-mueve-list {
  margin-top: 16px;
}
.Lo-que-nos-mueve-list {
  margin-left: 26px;
}
.contact,
.footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .container {
    width: 720px;
    margin: auto;
  }
  .fa-comment-dots {
    display: none;
  }
  .navbar a {
    margin-right: 18px;
  }
  /* CONCTACT*/
  .contact div {
    display: flex;
    justify-content: center;
  }
  .contact address {
    margin-left: 32px;
  }

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }