body {
    text-align: center;
    background-color: aqua;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
 .main-container {
   color: blue;
   margin-bottom: flex;
   bottom: 200px;
 }
